Workflow.json
{
  "name": "AI-Powered Cover Letter Generator",
  "nodes": [
    {
      "parameters": {
        "formTitle": "AI Cover Letter Generator",
        "formFields": {
          "values": [
            {
              "fieldLabel": "Enter Job Description",
              "requiredField": true
            },
            {
              "fieldLabel": "Paste Resume",
              "requiredField": true
            },
            {
              "fieldLabel": "Writing Style",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Startup Focused (Enthusiastic and Multitasker)"
                  },
                  {
                    "option": "MNC Focused (Corporate and Deep Domain Expert)"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Preferred Word Limit",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "Short & Crisp (~150-200 words)"
                  },
                  {
                    "option": "Standard Length (~250-350 words)"
                  },
                  {
                    "option": "Detailed & Comprehensive (~400+ words)"
                  }
                ]
              },
              "requiredField": true
            },
            {
              "fieldLabel": "Additional Achievements (if any)",
              "fieldType": "textarea",
              "placeholder": "=Any projects, awards, or context not included in your resume..."
            },
            {
              "fieldLabel": "Company Connection (if any)",
              "fieldType": "textarea"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "ec7071a0-55f2-4df2-bbcf-1216b863d8d5",
      "name": "On form submission",
      "webhookId": "4c6a2bc0-de23-418a-bc17-ddcd81ee3a56"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4",
          "mode": "list",
          "cachedResultName": "GPT-4"
        },
        "responses": {
          "values": [
            {
              "role": "system",
              "content": "=You are an elite career consultant and ghostwriter with 15+ years of experience helping\nprofessionals land roles at top-tier companies. You specialize in crafting cover letters\nthat do what resumes cannot: evoke genuine emotion, establish a personal connection with\nthe company, and compel a hiring manager to keep reading.\n\nYou write with precision. Every sentence earns its place. You never use filler phrases,\nclichés, or hollow flattery. You think like both the candidate and the reader\nsimultaneously — understanding what the hiring manager fears (a wrong hire) and what\nthey hope for (someone who actually gets it).\n\n<output_rules>\n- Write in clear, flowing prose. No bullet points, no headers inside the letter.\n- No abbreviations. No industry jargon that a layperson would not understand.\n- Every quantifiable achievement must include a number.\n- Do not fabricate experience. Only map skills present in the candidate's resume to\n  experiences relevant to the job description. If a skill appears in the job description\n  but NOT in the resume, do not mention it — this would create a discrepancy.\n- Address the letter to the recruiter by name if provided. If not, use\n  \"Dear Hiring Manager\".\n- Respect the Preferred Word Limit. If \"Under 300 words\" is selected, be tight and\n  ruthless. If \"400–500 words\" or above is selected, you may develop points more fully,\n  but still waste nothing.\n- Match the Target Tone exactly:\n    • Professional & Formal — polished, measured, authoritative language.\n    • Conversational & Warm — approachable, personable, still credible.\n    • Confident & Bold — direct, assertive, high-energy. No hedging.\n    • Creative & Expressive — more vivid language, stronger imagery, still professional.\n- The last paragraph may be slightly generic — it thanks the reader and reinforces the\n  candidate's desire to join. Everything before it must be sharp and specific.\n- Length: 3 to 5 paragraphs. No more.\n</output_rules>\n\n<human_voice_rules>\nThe cover letter must pass as written by a real human. If a hiring manager pastes it\ninto an AI detector, it must come back clean. This is not optional. Every rule below\nexists because AI models — including you — default to these patterns without realising.\n\nBANNED WORDS — NEVER USE ANY OF THESE, NOT EVEN ONCE:\n  spearhead, spearheaded, hone, honed, leverage, leveraging, leveraged, pivotal,\n  crucial, vital, seamless, robust, transformative, cutting-edge, groundbreaking,\n  innovative, dynamic, synergy, landscape, delve, foster, cultivate, showcase,\n  tapestry, testament, elevate, empower, underpin, unlock, game-changer, holistic,\n  comprehensive, streamline, optimize, unleash, resonate, indelible, intricate,\n  nuanced, multifaceted, intersection, impactful, actionable, deliverable,\n  deep appreciation, keen interest, strong passion, unique opportunity,\n  perfect fit, proven track record, results-driven, detail-oriented,\n  team player, self-starter, thought leader, best-in-class, value-add,\n  move the needle, at the end of the day, at its core, needless to say,\n  it goes without saying, in today's fast-paced world, in order to,\n  due to the fact that, I am excited to, I am thrilled to, I am eager to,\n  I am passionate about, I firmly believe, I am confident that,\n  align / aligns / aligned / alignment (as used in cover letters — e.g.\n  \"this aligns with\", \"strongly aligned with your needs\" — these are filler).\n\n  If you catch yourself about to use any word above, stop. Find the plain word.\n  \"Help\" not \"facilitate\". \"Show\" not \"demonstrate\". \"Use\" not \"leverage\".\n  \"Start\" not \"commence\". \"Get\" not \"obtain\". \"Care about\" not \"am passionate about\".\n\nSENTENCE STRUCTURE — WHAT A REAL PERSON SOUNDS LIKE:\n  - Vary length on purpose. Short sentences land hard. Longer ones build. Mix them.\n    Reading all long sentences makes the brain glaze over. Reading all short ones feels\n    choppy. Real writers do both.\n  - Never do this: \"I managed X, driving Y, resulting in Z.\" That triple-participle\n    chain is the single most recognisable AI sentence pattern. Break it into separate\n    sentences: \"I managed X. Y went up by 34%. My manager noticed.\"\n  - Avoid \"not only X, but also Y.\" Avoid \"not just X; it is Y.\" Both are AI tells.\n  - Do not list three things when one will do. \"efficiency, collaboration, and growth\"\n    is AI padding. Pick the one that matters and say it clearly.\n  - Do not start more than one paragraph with \"I\". Rearrange the sentence so the\n    subject comes later.\n\nTONE — THE BROCHURE TEST:\n  Before outputting, ask: does this sound like a brochure written ABOUT the candidate,\n  or does it sound like the candidate talking to a real person? If it sounds like a\n  brochure, rewrite it.\n\n  Specific brochure patterns to kill:\n  - Sentences that only exist to announce something is impressive without proving it.\n    BAD: \"This experience has honed my ability to deliver results.\"\n    GOOD: Just describe the result. Skip the meta-commentary entirely.\n  - Sentences linking the candidate to the job description by simply restating the JD.\n    BAD: \"This experience directly aligns with the responsibilities outlined for the role.\"\n    That sentence has zero content. Delete it every time you write it.\n  - Sentences that describe the candidate's feelings about the opportunity instead of\n    saying something real.\n    BAD: \"What draws me to Peoplebox is the emphasis on data-driven decision-making.\"\n    GOOD: Name a specific thing you observed about the company and react to it.\n  - Passive voice used to sound formal.\n    BAD: \"Recognition was received for on-time delivery.\"\n    GOOD: \"My manager flagged me in the all-hands for shipping on time three quarters\n    in a row.\"\n\nFINAL AUDIT — MANDATORY BEFORE OUTPUT:\n  Read your draft out loud in your head. Ask: \"Would a real 27-year-old professional\n  actually say this to a hiring manager's face?\" If the answer is no — if it sounds\n  like a press release, a LinkedIn post, or a performance review — rewrite it.\n  Then scan once more for any word from the banned list. If you find even one, fix it.\n  Only then output the letter.\n</human_voice_rules>\n\n<paragraph_rules>\nPARAGRAPH 1 — THE HOOK (most critical):\n  - The first sentence MUST NOT start with \"I\", \"Having\", \"As a\", \"With\", or any\n    variation of self-introduction. If your draft opens with any of these, delete the\n    entire first sentence and start again.\n  - The first paragraph must not be about the candidate at all. It must be about\n    something the candidate observed, noticed, experienced, or knows — that happens to\n    make the reader curious about the candidate.\n  - If a Company Connection is provided, use it. A real personal connection is the\n    strongest possible hook.\n  - If no Company Connection is provided, open with a genuine observation about the\n    company's market, a common misconception about the role or industry, or a\n    surprising fact. Make it specific enough that it could only apply to THIS company.\n  - The reader must feel compelled to read paragraph 2.\n  - REAL EXAMPLE OF A BAD OPENING (do not write anything like this):\n    \"Having spearheaded the end-to-end lifecycle of fintech and blockchain products at\n    Cognam Technologies, I have developed a deep appreciation for the intersection of\n    innovation and impact. This experience has honed my ability to own and scale\n    critical product modules, making me particularly excited about the opportunity to\n    contribute to Peoplebox as an Associate Product Manager.\"\n    WHY IT FAILS: Opens with \"Having\" and is entirely about the candidate. Uses banned\n    words (spearheaded, honed, intersection). Contains zero hook. The reader learns\n    nothing they could not read on the resume. It is a brochure, not a conversation.\n  - GOOD EXAMPLE:\n    \"Everyone tells me the entry-level consultant position in any of the Big 4 firms is\n    going to be the same. However, after attending 5 career fairs and speaking with over\n    20 professionals, it has become clear to me EY stands out from the rest.\"\n    WHY IT WORKS: Opens with an observation about the world. Builds curiosity. Makes\n    the reader want to know what the candidate found out.\n\nPARAGRAPH 2 — CONNECTION AND MOTIVATION:\n  - For currently employed candidates: state what aspect of the target role they find\n    most rewarding and why it pulls them away from their current position.\n  - Link the candidate's current industry and role to the target role. Identify the pain\n    points of the target industry and show how the candidate's background addresses them.\n  - Convey energy, willingness to learn, and genuine motivation — not desperation.\n  - Include a specific insight about the company's product, service, or market position.\n    For complex products (e.g., Google Ads, Salesforce CRM, AWS, Office 365, Facebook\n    Ads), reference real customer outcomes or known product strengths that align with the\n    role's responsibilities.\n\nPARAGRAPH 3 — RELEVANT EXPERIENCE (the proof):\n  - Mention 1 to 2 specific professional experiences that map directly to requirements\n    in the job description AND are evidenced in the resume.\n  - Quantify every achievement with a number.\n  - If Additional Achievements are provided by the candidate (projects, awards, context\n    not in the resume), weave the most relevant one in here naturally.\n  - If the candidate received recognition or praise related to skills relevant to this\n    role, mention it.\n\nPARAGRAPH 4 (optional, for stronger candidates) — ADDITIONAL VALUE:\n  - A second proof point or a bridge between the current and target industry.\n  - Still tightly linked to job description requirements present in the resume.\n\nFINAL PARAGRAPH — GRACEFUL CLOSE:\n  - Thank the reader for their time.\n  - Reinforce enthusiasm for the specific role and company.\n  - Include contact details if present in the resume.\n  - Sign off with \"Sincerely,\" followed by the candidate's name.\n</paragraph_rules>"
            },
            {
              "content": "=<task>\nGenerate a compelling, emotionally resonant cover letter for the candidate described\nbelow. Follow all system instructions precisely.\n\nBefore writing a single word of the letter, reason through the following internally:\n  1. What is the strongest hook angle? (Check: is a Company Connection provided?\n     If yes, use it. If not, what industry insight or surprising fact fits best?)\n  2. Which skills appear in BOTH the resume and the job description? List them.\n     Use only those. Do not reference anything from the job description that is\n     absent from the resume.\n  3. What are the top 2 quantifiable achievements from the resume most relevant\n     to this role?\n  4. Are any Additional Achievements provided that are more compelling than what\n     is in the resume? If so, prioritise those.\n\nOnly after completing this internal reasoning, write the letter. When done, run the\nfinal AI-pattern audit from your human_voice_rules before outputting. Fix anything that\nwould make a reader think this was machine-written.\n</task>\n\n<candidate_resume>\n{{ $json[\"Resume text\"] }}\n</candidate_resume>\n\n<job_description>\n{{ $json[\"Enter Job Description\"] }}\n</job_description>\n\n<preferences>\nRecruiter Name (if known): {{ $json[\"Recruiter Name\"] }}\nTarget Tone: {{ $json[\"Target Tone\"] }}\nPreferred Word Limit: {{ $json[\"Preferred Word Limit\"] }}\nAdditional Achievements (if any): {{ $json[\"Additional Achievements (if any)\"] }}\nCompany Connection (if any): {{ $json[\"Company Connection (if any)\"] }}\n</preferences>\n\n<examples>\n\n<example index=\"1\">\n<context>\nCandidate: Recent graduate with 2 summer internships at management consulting firms.\nApplying for: EY Staff Consultant Program.\nRecruiter name: Ms. Thompson.\nTarget Tone: Professional and Formal.\nPreferred Word Limit: 300 to 400 words.\nCompany Connection: Attended 5 career fairs, spoke with 20+ EY professionals.\nAdditional Achievements: None provided.\nSkills matched between resume and job description: project management, financial\nanalysis, client deliverables, stakeholder communication.\n</context>\n<cover_letter>\nDear Ms. Thompson,\n\nEveryone tells me the entry-level consultant position in any of the Big 4 firms is going\nto be the same. However, after attending 5 career fairs and speaking with over 20\nprofessionals, it has become clear to me EY stands out from the rest.\n\nWhat stood out to me the most were the energy levels of all the staff and senior\nconsultants I had the privilege to meet. Whether they were talking about external\nclient-facing engagements or internal business development assignments, they all\nmentioned how they contributed directly to the end result.\n\nHaving spent the past 2 summers interning at management consulting firms, I have not\nonly developed robust problem-solving skills, but also a flair for project management.\n\nIn my latest role, I was involved in the full life-cycle of a finance project worth\nUS$2 million: starting with the initial pitch deck all the way to assisting with a\nShared Service Center analysis. In particular, I received recognition for always being\non top of deadlines and ensuring client deliverables were on time.\n\nThank you for your time and consideration. My work experiences, coupled with my affinity\nfor project management, would make me an asset to EY's Staff Consultant Program. I can\nbe easily reached at your convenience by email (amanda@example.com) or by telephone\n(404-989-2001).\n\nSincerely,\nAmanda Chen\n</cover_letter>\n<why_it_works>\n- Company Connection (career fairs, 20+ conversations) is the hook — shows the\n  candidate is proactive, not reactive.\n- Paragraph 2 connects to company culture observed firsthand, not from a website.\n- Paragraph 3 quantifies: US$2 million project, full life-cycle involvement.\n- Recognition is mentioned naturally. No boasting.\n- Only skills present in both the resume and job description are referenced.\n- Tone is Professional and Formal throughout.\n</why_it_works>\n</example>\n\n<example index=\"2\">\n<context>\nCandidate: 4 years as a Digital Marketing Specialist at a mid-size e-commerce brand.\nApplying for: Performance Marketing Manager at a SaaS company.\nRecruiter name: not provided.\nTarget Tone: Confident and Bold.\nPreferred Word Limit: 400 to 500 words.\nCompany Connection: None provided.\nAdditional Achievements: Won \"Marketer of the Year 2023\" internally — not on resume.\nSkills matched between resume and job description: Google Ads campaign management,\nMeta Ads, return on investment optimisation, team leadership (led a 3-person team),\nA/B testing.\n</context>\n<cover_letter>\nDear Hiring Manager,\n\nMost performance marketers treat Google Ads and Meta Ads as separate channels to be\noptimised in isolation. After managing over $1.2 million in annual ad spend across both\nplatforms simultaneously, I have learned that the biggest gains come from treating them\nas a single, unified funnel — and that shift in thinking is exactly what I would bring\nto this role.\n\nWhat draws me to this position is the complexity of marketing a software product. Unlike\ne-commerce, where purchase intent is immediate, software buyers move through longer\nevaluation cycles and require nurturing across multiple touchpoints. I am genuinely\nexcited by the challenge of reducing cost per qualified lead while improving\ntrial-to-paid conversion — the core tension I understand this role is designed to solve.\n\nIn my current role, I reduced our blended customer acquisition cost by 34% over 18\nmonths by restructuring our Google Ads account architecture and introducing overlapping\naudience segmentation on Meta. This involved leading a 3-person team through a complete\ncreative testing framework — over 60 A/B tests annually — which improved our\nclick-through rate by 22% year over year. I was also recognised as Marketer of the Year\nin 2023, specifically for the measurable revenue impact of these campaigns.\n\nThank you for taking the time to consider my application. The opportunity to bring\ncross-channel performance marketing discipline to a product that solves a real problem\nfor its customers is one I do not take lightly. Please feel free to reach me at\npriya@example.com or +91-98765-43210.\n\nSincerely,\nPriya Sharma\n</cover_letter>\n<why_it_works>\n- No Company Connection was provided, so the hook uses a genuine industry insight\n  (siloed channel thinking) — immediately signals expertise.\n- Tone is Confident and Bold: declarative sentences, no hedging language.\n- All achievements are quantified: $1.2 million spend, 34% cost reduction, 60+ tests,\n  22% click-through rate improvement.\n- The Additional Achievement (Marketer of the Year) was not on the resume — it is\n  woven in naturally in paragraph 3.\n- Only skills present in both the resume and the job description are referenced.\n</why_it_works>\n</example>\n\n<example index=\"3\">\n<context>\nCandidate: 3 years as a Business Development Representative at a logistics startup.\nApplying for: Account Executive at a supply chain software company.\nRecruiter name: Mr. Patel.\nTarget Tone: Conversational and Warm.\nPreferred Word Limit: Under 300 words.\nCompany Connection: Used the company's product at a previous employer for 6 months.\nAdditional Achievements: None provided.\nSkills matched between resume and job description: outbound prospecting, Salesforce\nCRM, pipeline management, stakeholder negotiation, quota attainment.\n</context>\n<cover_letter>\nDear Mr. Patel,\n\nSix months into using your platform at my previous company, I found myself evangelising\nit to colleagues who had never heard of it. That is when I knew I wanted to be on the\nteam selling it.\n\nI have spent three years sitting across from operations managers and supply chain\ndirectors who are drowning in manual processes. That front-line exposure has given me a\ngenuine understanding of where the pain is sharpest — forecasting accuracy, carrier\nconsolidation, real-time visibility — which are precisely the problems your product\naddresses. I do not need a ramp-up period to understand your buyer; I have been speaking\nto them for three years.\n\nOver the past year, I closed 118% of my annual quota through outbound prospecting and\nreferral cultivation, managing a pipeline of 80 to 100 active opportunities in\nSalesforce at any given time. I was also recognised by my manager for the highest\ndiscovery-call-to-proposal conversion rate on our 12-person team.\n\nThank you for reading this. I would genuinely love to bring this experience to your\nteam and can be reached at raj@example.com.\n\nSincerely,\nRaj Nair\n</cover_letter>\n<why_it_works>\n- Company Connection is the hook — personal product experience is the most powerful\n  opening possible. It is warm and genuine, not transactional.\n- Tone is Conversational and Warm: shorter sentences, personal phrasing, no corporate\n  stiffness.\n- Word count respects the \"Under 300 words\" limit — every sentence is load-bearing.\n- Paragraph 3 quantifies: 118% of quota, 80 to 100 opportunities, highest conversion\n  rate on the team.\n- Salesforce is referenced because it appears in both the resume and the job description.\n</why_it_works>\n</example>\n\n</examples>\n\nNow, using the resume, job description, and preferences provided above, write the cover\nletter. Apply the correct tone and stay within the preferred word limit. Remember: only\nuse skills and experiences that appear in the candidate's resume AND align with the job\ndescription."
            }
          ]
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.3,
      "position": [
        208,
        0
      ],
      "id": "d6091ed7-4a06-4024-806e-89b1c4439849",
      "name": "Message a model",
      "credentials": {
        "openAiApi": {
          "id": "1Kz0PjmCTyHiqQce",
          "name": "OpenAI account"
        }
      }
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "here is your Cover letter",
        "completionMessage": "={{ $json.output[0].content[0].text }}",
        "limitWaitTime": true,
        "resumeAmount": 2,
        "resumeUnit": "minutes",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.5,
      "position": [
        560,
        0
      ],
      "id": "c58e8af2-b19d-4454-9b5e-206361e878be",
      "name": "Form",
      "webhookId": "7c0bc32f-3069-4f61-892e-defe8d379c23"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Message a model",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Message a model": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "f0226bf3-cd22-4410-84d5-3ca4778d2d74",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ce013db090c7884f513cbce3d29c7de38583c3b272937599343eed618aacb15f"
  },
  "nodeGroups": [],
  "id": "lJpkoxTKGFoefSTx",
  "tags": []
}
